@model HotelRoomBookingSystem.Models.UserRegistration
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register - Hotel Room Booking System</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mt-2">Register</h2>
                @using (Html.BeginForm("RegisterClick", "Home", FormMethod.Post))
                {

            <form>
              


                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @id = "FirstName", @name = "FirstName" })
                    @Html.ValidationMessageFor(model => model.FirstName,"", new { @class = "text-danger small" })
                </div>
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label for="DateOfBirth">Date of Birth</label>
                    <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" value="@Model.DateOfBirth" />
                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger small" })
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger small" })


                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.Gender, "Male", new { @class = "form-check-input" })


                        <label class="form-check-label" for="Male">Male</label>
                    </div>
                    <div class="form-check">
                        @Html.RadioButtonFor(model => model.Gender, "Female", new { @class = "form-check-input" })


                        <label class="form-check-label" for="Female">Female</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Phone Number</label>
                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @id = "Phone", @name = "Phone" })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger small" })

                </div>
                <div class="form-group">
                    <label for="EmailAddress">Email Address</label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "Email", @name = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger small" })

                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", @id = "Address", @name = "Address" })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger small" })

                </div>
                <div class="form-group">
                    <label for="State">State</label>
                    @Html.DropDownListFor(model => model.State, new SelectList(Model.States, "Value", "Text"), "Select State", new { @class = "form-control", @id = "State", @name = "State" })
                    @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger small" })

                </div>
                <div class="form-group">
                    <label for="City">City</label>
                    @Html.DropDownListFor(model => model.City, new SelectList(Model.Cities, "Value", "Text"), "Select City", new { @class = "form-control", @id = "City", @name = "City" })
                    @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger small" })

                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "Password", @name = "Password" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger small" })


                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @id = "ConfirmPassword", @name = "ConfirmPassword" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger small" })

                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button><span>@Html.DisplayFor(m => m.message,"",new {@class="text-success small" })</span>
                
                <div class="text-center mt-2">
                    <p class="login-link">Already have an account? @Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "login-link" })</p>
                </div>
            </form>

                }

            </div>
        </div>
    </div>

    <!-- Include Bootstrap and jQuery scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>


