@model HotelRoomBookingSystem.Models.Password
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <!-- Include Bootstrap CSS link here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Include custom CSS styles if needed -->
    <link href="~/Content/css/login.css" rel="stylesheet" />
</head>

<body>
    <div class="container password-container pt-5">
        <div class="row justify-content-center">
            <div class="col-md-3 password-form">
                <h4 class="password-heading">Change Password</h4>
                @using (Html.BeginForm("ChangePasswordClick", "User", FormMethod.Post))
                {
            <form>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Oldpassword, new { @class = "form-control", @placeholder = "Enter Old Password" })
                    @Html.ValidationMessageFor(model => model.Oldpassword, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Newpassword, new { @class = "form-control", @placeholder = "Enter new Password" })
                    @Html.ValidationMessageFor(model => model.Newpassword, "", new { @class = "text-danger small" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(model => model.Confirmpassword, new { @class = "form-control", @placeholder = "Re-enter new Password" })
                    @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger small" })
                </div>
                <button type="submit" class="btn btn-primary btn-block login-btn-primary">Submit</button><span>@Html.DisplayFor(m => m.Message, new { @class = "text-danger small" })</span>
            </form>
                }
            </div>
        </div>
    </div>

    <!-- Include Bootstrap and jQuery scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
