@model HotelRoomBookingSystem.Models.Rooms
@{
    ViewBag.Title = "CheckinRoom";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div class="container mt-5 p-3">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content(Model.RoomImage)" class="img-fluid" alt="Room Image">
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Model.RoomNumber</h5>
                    <p class="card-text">@Model.RoomDescription</p>
                    <p>Per Day: ₹@Model.PricePerDay</p>
                    <p>Maximum Capacity: @Model.MaximumCapacity</p>
                    <p>Number of Beds: @Model.NumberOfBeds</p>
                    <p>@Model.Features</p>
                    <p>@Model.Availablity</p>
                </div>
            </div>
            <div class="form">
                <div class="form-group">
                    <label for="checkinDate">Check-in Date</label>
                    <input type="date" id="checkinDate" name="checkinDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="checkoutDate">Check-out Date</label>
                    <input type="date" id="checkoutDate" name="checkoutDate" class="form-control">
                </div>
                <div class="form-group">
                    <label for="adultCount">Adults</label>
                    <input type="number" id="adultCount" name="adultCount" class="form-control">
                </div>
                <div class="form-group">
                    <label for="childrenCount">Children</label>
                    <input type="number" id="childrenCount" name="childrenCount" class="form-control">
                </div>
             
                @Html.ActionLink("Book Now", "RoomBooking", new { id = Model.RoomId }, new { @class = "btn btn-primary btn-block" })
            </div>
        </div>
    </div>
</div>


