@model IEnumerable<HotelRoomBookingSystem.Models.Rooms>

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

@{
    string userEmail = Session["Email"].ToString();
}

<h2>Welcome @userEmail</h2>

<h3>Available Rooms</h3>

<div class="container">
    <div class="row">
        @foreach (var room in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <img src="@room.RoomImage" class="card-img-top" alt="Room Image">
                    <div class="card-body">
                        <h5 class="card-title">@room.RoomType</h5>
                        <p class="card-text">@room.RoomDescription</p>
                        <p>Price per Day: $@room.PricePerDay</p>
                        <p>Maximum Capacity: @room.MaximumCapacity</p>
                        <p>Number of Beds: @room.NumberOfBeds</p>
                        <p>Features: @room.Features</p>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
