@model IEnumerable<HotelRoomBookingSystem.Models.Rooms>
@{
    ViewBag.Title = "ViewRooms";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}



<div class="container">
    <div class="row">
        @foreach (var room in Model)
        {
            <div class="col-md-4 p-3">
                <div class="card">
                    <img src="@Url.Content(@room.RoomImage)" class="card-img-top" alt="Room Image" height="200px" width="150px" >
                    <div class="card-body">
                        <h5 class="card-title">@room.RoomDescription</h5>
                        <p>Price per Day: ₹@room.PricePerDay</p>
                        <p>Maximum Capacity: @room.MaximumCapacity</p>
                        <p>Number of Beds: @room.NumberOfBeds</p>
                        <p>Features: @room.Features</p>
                        @Html.ActionLink("Check Availablity", "CheckinRoom", new { id = room.RoomId }, new { @class = "btn btn-primary" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>