@model HotelRoomBookingSystem.Models.Rooms
@{
    ViewBag.Title = "AddRoom";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center mt-2">Add New Room</h2>
                @using (Html.BeginForm("AddRoom", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="RoomNumber">Room Number</label>
                        @Html.TextBoxFor(model => model.RoomNumber, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomNumber, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="RoomImage">Room Image</label>
                        @Html.TextBox("file", "", new { Type = "file" })

                    </div>

                    <div class="form-group">
                        <label for="RoomType">Room Type</label>
                        @Html.TextBoxFor(model => model.RoomType, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomType, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="RoomDescription">Room Description</label>
                        @Html.TextBoxFor(model => model.RoomDescription, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoomDescription, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="PricePerDay">Price Per Day</label>
                        @Html.TextBoxFor(model => model.PricePerDay, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PricePerDay, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="MaximumCapacity">Maximum Capacity</label>
                        @Html.TextBoxFor(model => model.MaximumCapacity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MaximumCapacity, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="NumberOfBeds">Number of Beds</label>
                        @Html.TextBoxFor(model => model.NumberOfBeds, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NumberOfBeds, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="Features">Room Features</label>
                        @Html.TextBoxFor(model => model.Features, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Features, "", new { @class = "text-danger small" })
                    </div>

                    <div class="form-group">
                        <label for="Availablity">Availability</label>
                        @Html.TextBoxFor(model => model.Availablity, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Availablity, "", new { @class = "text-danger small" })
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                    <span>@Html.DisplayFor(model => model.Message, new { @class = "text-success small" })</span>
                }


            </div>
        </div>
        <div class="pb-3">
            @Html.ActionLink("View Added Rooms", "GetAllRooms")
        </div>
    </div>

    <!-- Include Bootstrap and jQuery scripts here -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>