@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container mt-5 p-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bookings</h5>
                    <p class="card-text">Total Bookings : @ViewBag.BookingCount</p>
                    @Html.ActionLink("Manage Bookings", "GetBookingDetails", "", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Rooms</h5>
                    <p class="card-text">Total Rooms: @ViewBag.RoomCount</p>
                    @Html.ActionLink("Manage Rooms", "GetAllRooms", "", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Total Users : @ViewBag.UserCount</p>
                    @Html.ActionLink("View Users", "ViewUsers", "", new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>
</div>
