@model IEnumerable<HotelRoomBookingSystem.Models.Rooms>

@{
    ViewBag.Title = "GetAllRooms";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<p>
    @Html.ActionLink("Create New Room Details", "AddRoom", null, new { @class = "btn btn-success m-2" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>Room Image</th>
                <th>Room Description</th>
                <th>Price Per Day</th>
                <th>Maximum Capacity</th>
                <th>Number of Beds</th>
                <th>Features</th>
                <th>Availability</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.RoomNumber</td>
                    <td><img src="@Url.Content(item.RoomImage)" alt="Room Image" style="max-width: 100px" /></td>
                    <td>@item.RoomDescription</td>
                    <td>@item.PricePerDay</td>
                    <td>@item.MaximumCapacity</td>
                    <td>@item.NumberOfBeds</td>
                    <td>@item.Features</td>
                    <td>@item.Availablity</td>
                    <td>
                        @Html.ActionLink("Edit", "EditRoomDetails", new { id = item.RoomId }, new { @class = "btn btn-primary btn-sm m-2" })
                        @Html.ActionLink("Delete", "DeleteRoom", new { id = item.RoomId }, new { @class = "btn btn-danger btn-sm m-2" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
